/* Background image - Paling belakang & penuh layar */
.bg-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/bg-image.jpg);
  background-size: cover;
  background-color: white;
  /* top: 20px; */

  background-position: center;
  z-index: -3;
}

.heading-jogja {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -2;
  --vertical-offset: -0.75em;
}

.style-jogja {
  font-size: 10rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transform: translateY(var(--vertical-offset));
}

/* Candi - Penuh layar & geser sedikit ke bawah */
.candi {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/candi.png);
  background-size: cover;
  background-position: center;
  top: 250px;
  z-index: -1;
}

/* Candi kedua - Kanan bawah */
.candi2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/candi2.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: cover; */
  bottom: -45%;
  right: -30%;
  z-index: 0;
}

/* Tugu - Kiri bawah */
.tugu {
  position: fixed; /* Tetap di kiri bawah saat scroll */
  width: 50em; /* Sesuaikan ukuran */
  height: 50em;
  background-image: url(./assets/tugu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  bottom: -25%;
  left: -10%; /* Tambahkan jarak dari ujung layar */
  z-index: 1; /* Pastikan elemen terlihat di atas yang lain */
}
